*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --bg-color: teal;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}
